	<div id="footer">
      <div class="navs">
        <div class="navs-bot">
          <div class="cl">&nbsp;</div>
          <ul>
            <li><a href="#">community</a></li>
            <li><a href="#">forum</a></li>
            <li><a href="#">blog</a></li>
            <li><a href="#">features</a></li>
            <li><a href="#">career</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">developers</a></li>
          </ul>
          <div class="cl">&nbsp;</div>
        </div>
      </div>
    </div>