<div id="header">
    <div id="top-nav">
      <ul>
        <li class="home"><a href="#">home</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Signup</a></li>
      </ul>
    </div>
    <div class="cl">&nbsp;</div>
    <div id="logo">
      <h1><a href="#">Quiz<span>portal</span></a></h1>
      <p class="description">your game zone</p>
    </div>
    <div id="main-nav">
      <div class="bg-right">
        <div class="bg-left">
          <ul>
            <li><a href="#">community</a></li>
            <li><a href="#">forum</a></li>
            <li><a href="#">blog</a></li>
            <li><a href="#">cheats</a></li>
            <li><a href="#">categories</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="cl">&nbsp;</div>
   <div id="sort-nav">
      <div class="bg-right">
        <div class="bg-left">
          <div class="cl">&nbsp;</div>
          <ul>
            <li><a href="#">Play Now</a><span class="sep">&nbsp;</span></li>
          </ul>
          <div class="cl">&nbsp;</div>
        </div>
      </div>
    </div>
</div>