<h1 id="banner">Kucoo1 - measure how much you know</h1>
<div id="main">

  <form class="cmxform" id="form1" method="get" action="">
	<fieldset>
		<legend>Who is the current President of the United States of America?</legend>

		<fieldset>
			
			<label for="answer1">
				<input  type="radio" id="answer1" value="s" name="answer" validate="required:true" />
				Obama
			</label>
			<label for="answer2">
				<input  type="radio" id="answer2" value="m" name="answer" />
				Clinton
			</label>
			<label for="answer3">
				<input  type="radio" id="answer3" value="o" name="answer" />
				Roosevelt
			</label>
			<label for="answer4">
				<input  type="radio" id="answer4" value="o" name="answer" />
				Jimmy Carter
			</label>
			<label for="error" class="error">Please select an answer.</label>
		</fieldset>

		<p>
	            <input class="submit" type="submit" value="Submit"/>
		</p>
                <p>
                    <input type="button" onclick="creatediv(id, 'User 1', 'width', 'height', 'left', 'bottom')" value="Create Div"/>
                </p>
	</fieldset>
  </form>



</div>


